{{!-- This page will render if you need to login or sign up  --}}



<form>
    <h2>Log In</h2>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  <button type="submit" class="btn btn-primary">Log in</button>
</form>


<form>
    <h2>Sign Up</h2>
     <div class="mb-3">
    <label for="Inputname" class="form-label">Full name</label>
    <input type="name" class="form-control" id="nameinput" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
    <div class="col-auto">
    <span id="passwordHelpInline" class="form-text">
      Must be at least 8 characters long.
    </span>
  </div>
  <button type="submit" class="btn btn-primary">Sign up</button>
</form>