h1 {
  margin: 1px;
  font-size: 45px;
}

.begin a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  margin: 100px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

h2 {
  margin: 5px;
}

.title2 {
  text-align: center;
  margin-top: 30px;
}

.card-home {
  text-align: center;
}

.card-home h5 {
  margin-left: 30px;
}

li {
  list-style-type: none;
}

.btn-home {
  margin: auto;
}

.card a {
  text-align: left;
}

.title a {
  margin-left: 70px;
}

body {
  background: rgb(71, 122, 122);
}

.card {
  background: rgb(255, 240, 190);
  border: 2px black solid;
}

#logout {
  background-color: rgb(0, 0, 17);
  color: bisque;
  text-align: center;
  font-weight: bold;
}

#logout:hover {
  background-color: teal;
  color: black;
  cursor: grab;
}

#profile:hover {
  color: bisque;
  cursor: grab;
}

#pets:hover {
  color: bisque;
  cursor: grab;
}

#login:hover {
  color: bisque;
  cursor: grab;
}
